.container {
  max-width: 800px;
  margin: auto;
}

#newTask{
    height: 35px;
    width: 80%
}


button{
    height: 40px;
    background-color: #0099ff;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
}

